body{
    text-align: center;
}
li{
    cursor: pointer;
    font-size:xx-large;
}
#listText li {

    margin: 5px auto;
    padding: 10px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }